<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linkedpersonaldata.quantifiedself"
    android:versionCode="9"
    android:versionName="1.0" >


    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <!-- Launching -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- Backing up database to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Backing up to the web -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Activity Probe, Screen Probe -->
    <!-- NONE -->


    <!-- SMS Probe -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Call Log Probe -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!-- Location probe -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Wifi probe -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- GCM -->
    <permission android:name="org.linkedpersonaldata.quantifiedself.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="org.linkedpersonaldata.quantifiedself.permission.C2D_MESSAGE" />
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.linkedpersonaldata.quantifiedself.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="org.linkedpersonaldata.quantifiedself.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="org.linkedpersonaldata.quantifiedself.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <service
            android:name="edu.mit.media.funf.storage.NameValueDatabaseService"
            android:enabled="true" >
        </service>
        <service
            android:name="org.linkedpersonaldata.quantifiedself.HttpsUploadService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="org.linkedpersonaldata.quantifiedself.LauncherReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
			    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
			    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			    <category android:name="edu.mit.media.realityanalysis.fieldtest" />
		    </intent-filter>
		</receiver>
		
        
        <service
            android:name="org.linkedpersonaldata.quantifiedself.FunfManagerService"
            android:enabled="true" >
            <meta-data
                android:name="MainPipeline"
                android:resource="@string/main_pipeline_config" />
        </service>
    </application>

</manifest>